# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = duyuqi
    email = shenxingwuying@gmail.com

[color] # Ensure we get color
    diff = always
    branch = auto
    status = auto
    grep = always
    log = auto
    ui = true

[push]
 default = tracking

[alias]
    st = status
    br = branch
    ci = commit
    cc = commit --amend
    co = checkout
    gr = log --graph --color
    lg =  log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative
    prit = log --pretty='%e | %an %ae | %s'
    mg = merge
    untrack = rm -r --cached
    d = difftool
    re = rebase origin/master
    pu = push origin master:refs/for/master

[gui]
    encoding = utf-8

[i18n]
    commitencoding = gbk
    logoutputencoding = gbk

[svn]
    pathnameencoding = utf-8

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff

[difftool]
    prompt = false
